<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/member" method="post">
        <label for="memberPassword">Enter The Member Password</label>
        <input id="memberPassword" name="memberPassword" type="text" />
        <button>Submit</button>
    </form>
</body>
</html>